.App {
  text-align: center;
  height: 100%;
}

.bar{
  width: 100%;
}
.gup{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
/* .AddDashBoard{
  width: 200px;
} */

/* .switch-box{
  z-index: 2;
  background-color: azure;
  padding: 10px;
  
} */
.options strong{
  margin:0 10px
}
.options{
  display: flex;
  justify-content: flex-end;
  
}