.box{
  
  border-radius: 5px !important;
}
.outer{
  padding:0 5px;
  height: 100%;
}
.box1{
  min-width: 400px;
  border-radius: 5px !important;
}
.inbox{
  display: flex !important;
  flex-flow: column nowrap;
  justify-content: space-between;
}